@charset "utf-8";@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,form,fieldset,p,button,select{margin:0;padding:0}
img,fieldset{border:0;vertical-align:middle}

ul,ol,li,dl{list-style:none}
input,select,textarea{margin:0;padding:0;vertical-align:middle;font-size:13px;font-family:nanumgothic}
table caption{display:none}
table{border-collapse:collapse}
em{font-style:normal}
h1,h2,h3,h4{letter-spacing:-1px}

body{margin:0;padding:0;font-family:'Nanum Gothic','Malgun Gothic',dotum,Helvetica,sans-serif;min-width:1000px;font-size:13px;color:#666;line-height:20px;background:#e9ecef}

A:link{text-decoration:none;color:#41495e}
A:hover{text-decoration:underline;color:#272c3a}
A:visited{text-decoration:none;color:#41495e}
A:active{text-decoration:none;color:#41495e}

.header{ padding:0 20px;height:106px;background:url(../rad_img/img/t_bg.gif) repeat-x}
.top{height:36px;overflow:hidden}
.top_mem{width:300px;float:right;position:relative}
.top_mem span{color:#bfbfbf;line-height:35px;font-size:12px;font-weight:bold}
.top_mem input{position:absolute;top:4px;left:55px;width:140px;height:24px;line-height:24px;border:1px solid #3d4040;background:#808080;padding:0 5px;color:#111;font-size:12px}
.btn_logout{display:block;position:absolute;top:4px;left:210px;background:#565858;border:1px solid #3d4040;height:24px;line-height:24px;width:70px;text-align:center;color:#c2c3c3 !important;font-size:12px}

.meWrap{min-width:1000px;margin:0 auto;height:70px;overflow:hidden}
.meWrap h1{width:208px;float:left;border-left:1px solid #3d4040;border-right:1px solid #3d4040;text-align:center;padding:15px 0 0 0;height:55px}
.menu{float:left;padding:24px 0 0 0}
.menu a{color:#ccc !important;font-size:16px;padding:0 0 0 15px;letter-spacing:-1px;}
.menu a.on{color:#59d83e !important}

.container{border:1px solid #e4e7ea;border-radius:5px;margin:20px 20px;overflow:hidden;background:url(../rad_img/img/m_line.gif) repeat-y;}

/*  ASIDE  */
.aside{float:left;width:209px;padding:10px 0 30px 0;height:100%}
.aside h2{width:179px;text-align:center;background:#40af36;height:42px;line-height:42px;color:#fff;font-size:16px;margin:15px;border-radius:5px}
.as_menu dt{border-bottom:1px solid #e4e7ea;line-height:42px;padding:0 17px;font-size:14px}
.as_menu dt a.on{font-weight:bold;color:#000}
.as_menu dd{padding:15px 17px;border-bottom:1px solid #e4e7ea}
.as_menu dd a{display:block;line-height:32px;color:#838eac;background:url(../rad_img/img/ico_1.png) no-repeat 0 9px;padding:0 0 0 16px}
.as_menu dd a.on{font-weight:bold;color:#f33c47}
.cs_cen{border-bottom:1px solid #e4e7ea;background:#fff;height:105px;width:170px;padding:19px;line-height:18px}
.cs_cen h3{color:#353537;font-size:15px;}
.cs_cen span{display:block;color:#13bb41;font-family:verdana;font-size:25px;line-height:25px;letter-spacing:-2px;margin:10px 0 12px 0}
.sol_as{background:#fff url(../rad_img/img/cs_img.png) no-repeat 18px 18px;height:60px;border-bottom:1px solid #e4e7ea;padding:19px;width:170px;position:relative}
.sol_as h3{position:absolute;top:24px;left:90px;font-size:16px;color:#353537}
.sol_as a{display:block;position:absolute;top:45px;left:90px;background:url(../rad_img/img/i_arrow.png) no-repeat right 5px;color:#000000;font-size:12px;padding:0 10px 0 0}
.as_ban{border-bottom:1px solid #e4e7ea;margin:0 0 20px 0;width:209px}

/*  CONTENT  */
.content{float:left;margin-top:35px;min-width:710px;width:70%;padding:0 40px}
.content1{float:left;margin-top:35px;padding:0 40px}
.cTit{position:relative;font-size:22px;color:#000;line-height:24px;padding:10px 0 18px 12px}
.schWrap{border:1px solid #e1e1e1;padding:15px 5%;margin:0 0 20px 0;width:90%;overflow:hidden}
.schWrap h3{font-size:14px;width:15%;border-right:1px dotted #e1e1e1;line-height:66px;color:#333;float:left}
.sch_area{width:65%;float:left;padding:0 0 0 15px;overflow:hidden}
.btn_search{display:inline-block;float:left;width:100px;height:66px;line-height:66px;font-size:14px;color:#fff !important;border-radius:3px;vertical-align:middle;text-align:center;background:#588ef2;border:1px solid #4a80e2}
.stip{color:#ff6633;font-size:12px;margin:0 0 0 5px}

.schWrap1{border:1px solid #e1e1e1;padding:15px 5%;margin:0 0 10px 0;width:90%;overflow:hidden}
.schWrap1 h3{font-size:14px;width:15%;border-right:1px dotted #e1e1e1;line-height:33px;color:#333;float:left}
.sch_area1{width:65%;float:left;padding:0 0 0 15px;overflow:hidden}
.btn_search1{display:inline-block;float:left;width:100px;height:29px;line-height:29px;font-size:14px;color:#fff !important;border-radius:3px;vertical-align:middle;text-align:center;background:#588ef2;border:1px solid #4a80e2}
.btn_search2{margin:0 5px 0 0 ;display:inline-block;float:left;width:90px;height:29px;line-height:29px;font-size:14px;color:#fff !important;border-radius:3px;vertical-align:middle;text-align:center;background:#ff6633;border:1px solid #ff6633}
.btn_search3{margin:0 5px 0 0 ;display:inline-block;float:left;width:90px;height:29px;line-height:29px;font-size:14px;color:#fff !important;border-radius:3px;vertical-align:middle;text-align:center;background:#000000;border:1px solid #000000}

.mlogin{width:800px;margin:0 auto;padding:120px 0 50px}
.logTxt{background:url(../rad_img/img/log_img.gif) no-repeat;padding:10px 0 0 270px;height:180px;font-size:15px;line-height:22px;margin:0 0 70px 0}
.logTxt dt{font-size:32px;line-height:40px;margin:0 0 25px 0;color:#222}
.logbox{background:#f3f5f8;border:1px solid #d4dae2;padding:55px 170px;height:150px;width:458px}
.login{position:relative}
.login li{overflow:hidden;margin:0 0 8px 0}
.login li strong{display:inline-block;width:80px;float:left;line-height:31px;font-size:14px;color:#333}
.login li input{float:left;border:1px solid #ebebeb;height:30px;line-height:30px;color:#555;padding:0 10px;width:230px}
.log_btn{display:block;position:absolute;top:0;right:0;display:inline-block;float:left;width:110px;height:72px;line-height:68px;font-size:15px;color:#fff !important;border-radius:3px;vertical-align:middle;text-align:center;background:#40af36}
.id_save{position:absolute;font-size:14px;top:84px;left:80px}
.idpw_find{position:absolute;top:120px;left:80px;overflow:hidden}
.idpw_find a{display:block;float:left;margin:0 30px 0 0;padding:0 10px 0 0;border-bottom:1px solid #40af36;line-height:15px;color:#40af36;background:url(../rad_img/img/i_arrow1.png) no-repeat right 5px}

.seltxt{float:left;border:1px solid #ebebeb;height:31px;line-height:28px;color:#555;padding:3px;width:31%;margin:0 5px 5px 0}
.seltxt1{border:1px solid #ebebeb;height:31px;line-height:28px;color:#555;padding:3px;width:31%;margin:0 5px 5px 0}
.inptxt{float:left;background:#f8f9f9;border:1px solid #ebebeb;height:29px;line-height:29px;color:#555;padding:0 5px;width:61%;margin:0 0 5px 5px}
.inptxt1{border:1px solid #ebebeb;height:29px;line-height:29px;color:#555;padding:0 5px;width:150px}
.inptxt2{border:1px solid #ebebeb;height:29px;line-height:29px;color:#555;padding:0 5px;width:150px;background:#f8f9f9;}

/*  TABLE  */
.ftbl, .tbl{margin:10px 0 50px 0;border-top:1px solid #3e3e3e;font-size:13px}
.tbl th{letter-spacing:-1px;color:#333;border-bottom:1px solid #e6e6e6;background:#f9fdff;text-align:center;padding:14px 0}
.tbl td{border-bottom:1px solid #e6e6e6;text-align:center;color:#666;padding:8px 6px;overflow:hidden}
th.tl, td.tl{text-align:left}
.tbl_top{overflow:hidden;width:100%}
.tbl_top select{float:left;border:1px solid #e5e5e5;height:30px;line-height:30px;color:#555;font-size:13px;padding:3px;}
.tbl_total{float:right;text-align:right}
.tbl_btm{overflow:hidden;width:100%}
.tbl_btm .paging{float:left;width:60%}
.tbl_btm .rbtn{float:right}
.ftbl th{height:32px;text-align:center;line-height:28px;padding:7px 12px;color:#333;background:#fafbfc;border-right:1px solid #e0e0e6;border-bottom:1px solid #e0e0e6}
.ftbl td{border-bottom:1px solid #e0e0e6;text-align:left;line-height:28px;height:32px;color:#555;padding:7px 12px}
th.brn{border-right:0}

.ptbl{margin:10px 0 50px 0;border-top:1px solid #3e3e3e}
.ptbl th{height:32px;text-align:center;line-height:28px;padding:7px 12px;color:#333;background:#fafbfc;border-right:1px solid #e0e0e6;border-bottom:1px solid #e0e0e6}
.ptbl td{text-align:left;line-height:28px;height:32px;color:#555;}


/* Paging 부분  */
.paging{text-align:center;margin:5px 0 0 0}
.paging strong{color:#07bc07 !important}
.paging a.num,
.paging strong{padding:0 12px;margin:0 1px;font-family:helvetica;display:inline-block;height:30px;border:1px solid #dedede;vertical-align:top;color:#666;line-height:30px}

/* Button 부분  */
.rbtn{overflow:hidden;text-align:right;min-height:45px;margin:0 0 20px 0}

.btns_blue{display:inline-block;font-size:13px;color:#fff !important;border-radius:3px;vertical-align:middle;padding:4px 10px;line-height:22px;background:#336699;}
.btns_red{display:inline-block;font-size:13px;color:#fff !important;border-radius:3px;vertical-align:middle;padding:4px 10px;line-height:22px;background:#cc0000;}
.btns{display:inline-block;font-size:11px;color:#fff !important;border-radius:3px;vertical-align:middle;padding:2px 6px;line-height:22px;background:#40af36;border:1px solid #40af36}
.btnss{display:inline-block;font-size:11px;color:#fff !important;border-radius:3px;vertical-align:middle;padding:2px 6px;line-height:22px;background:#cc0000;border:1px solid #cc0000}
.btn{display:inline-block;font-size:14px;color:#fff !important;border-radius:3px;vertical-align:middle;padding:8px 22px;line-height:22px;background:#40af36;border:1px solid #40af36}
.btn.trans{background:#fff;color:#40af36 !important;border-color:#d1d5dc}
.btn.trans1{background:#336699;color:#ffffff !important;border-color:#336699}
.btns.trans{background:#fff;color:#40af36 !important;border-color:#d1d5dc}
.btns.trans1{background:#fff;color:#cc0000 !important;border-color:#d1d5dc}
.fbtn{display:inline-block;line-height:31px;margin:0 0 0 3px;padding:0 10px;font-size:12px;border-radius:2px;vertical-align:middle;color:#fff!important;background:#98a0b3}
.fbtn1{display:inline-block;line-height:31px;margin:0 0 0 0;padding:0 10px;font-size:13px;border-radius:2px;vertical-align:middle;color:#fff!important;background:#cc0000}
.fbtn2{display:inline-block;line-height:31px;margin:0 0 0 0;padding:0 10px;font-size:13px;border-radius:2px;vertical-align:middle;color:#fff!important;background:#336699}

.fr{color:#f33c47}
.mb80{margin:0 0 80px 0}
.mt80{margin:50px 0 0 0}
.pl20{padding:0 0 0 20px}
.w150{width:150px}
.w100{width:100px}
.w200{width:200px}
.w300{width:300px}
.w400{width:400px}
.w500{width:500px}
.w80{width:80px}
.w60{width:60px}
.w50{width:50px}
.w30{width:30px}
.w560{width:90%}
.w230{width:35%}
.bullet{display:block;position:absolute;left:0;top:13px;width:4px;height:18px;background:#40af36}
.sbtn{font-weight:normal;display:inline-block;background:url(../rad_img/img/btn_bg.gif) repeat-x;border:1px solid #d7d7d7;border-radius:3px;vertical-align:middle;line-height:24px;padding:0 12px;letter-spacing:-1px;color:#777!important}
.caution p{background:url(../rad_img/img/bul_excl.png) no-repeat 0 5px;padding:0 0 0 20px;line-height:24px}

.photo{overflow:hidden;margin:10px 0 0 0}
.photo a{display:block;float:left;width:218px;height:270px;border:1px solid #e4e4e4;margin:0 20px 30px 0;text-decoration:none}
.photo a:nth-child(5n){margin:0 0 30px 0}
.photo dt{height:180px;overflow:hidden}
.photo dd{padding:5px 10px}
.pho_txt{font-size:14px;line-height:20px;padding:7px 0 8px;height:40px}
.info{overflow:hidden}
.info span{display:inline-block;float:left;color:#2a73dd}
.info em{display:inline-block;float:right;color:#999}
.f12{font-size:12px;font-family:tahoma}
.fo{color:#f56900}